/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-mono-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$size-50: calc(4 / 16 * 1rem);
$size-100: calc(8 / 16 * 1rem);
$size-125: calc(10 / 16 * 1rem);
$size-150: calc(12 / 16 * 1rem);
$size-162: calc(13 / 16 * 1rem);
$size-175: calc(14 / 16 * 1rem);
$size-187: calc(15 / 16 * 1rem);
$size-200: calc(16 / 16 * 1rem);
$size-225: calc(18 / 16 * 1rem);
$size-250: calc(20 / 16 * 1rem);
$size-300: calc(24 / 16 * 1rem);
$size-350: calc(28 / 16 * 1rem);
$size-375: calc(30 / 16 * 1rem);
$size-400: calc(32 / 16 * 1rem);
$size-450: calc(36 / 16 * 1rem);
$size-500: calc(40 / 16 * 1rem);
$size-550: calc(44 / 16 * 1rem);
$size-600: calc(48 / 16 * 1rem);
$size-700: calc(56 / 16 * 1rem);
$size-750: calc(60 / 16 * 1rem);
$size-800: calc(64 / 16 * 1rem);
$size-900: calc(72 / 16 * 1rem);
$size-1000: calc(80 / 16 * 1rem);
$size-1100: calc(88 / 16 * 1rem);
$size-1200: calc(96 / 16 * 1rem);
$size-1300: calc(104 / 16 * 1rem);
$size-1400: calc(112 / 16 * 1rem);
$size-1500: calc(120 / 16 * 1rem);
$size-1600: calc(128 / 16 * 1rem);
$size-1800: calc(144 / 16 * 1rem);
$size-2000: calc(160 / 16 * 1rem);

$white: #fff;
$black: #000;
$grey-600: #3d6666;
$grey-550: #547878;
$grey-500: #5e7a7d;
$grey-400: #7f9d9f;
$grey-300: #9ebbbd;
$grey-200: #c5e4e7;
$grey-50: #f3f9fa;
$green-900: #00474b;
$green-800: #085c61;
$green-750: #0d686d;
$green-400: #26c2ae;
$green-200: #9fe8df;
$orange: #e17052;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: $grey-200;
  letter-spacing: 0;
  font-weight: 700;
}

.text-preset-1 {
  font-size: $size-600;
  line-height: calc(71 / 16 * 1rem);
  letter-spacing: -1px;
}

.text-preset-2 {
  font-size: $size-400;
  line-height: calc(47 / 16 * 1rem);
  letter-spacing: -0.67px;
}

.text-preset-3 {
  font-size: $size-300;
  line-height: $size-450;
}

.text-preset-4 {
  font-size: $size-250;
  line-height: $size-375;
}

.text-preset-5 {
  font-size: $size-200;
  line-height: $size-300;
}

.text-preset-6 {
  font-size: $size-162;
  line-height: calc(19 / 16 * 1rem);
}

.white {
  color: $white;
}

.grey-400 {
  color: $grey-400;
}

.grey-500 {
  color: $grey-500;
}

.green-900 {
  color: $green-900;
}

.green-400 {
  color: $green-400;
}

main {
  text-align: center;

  .logo {
    margin-top: calc(50 / 16 * 1rem);
    margin-bottom: calc(41 / 16 * 1rem);
  }

  article {
    background-color: $white;
    border-radius: 25px 25px 0 0;
    padding: $size-400;

    .bill {
      text-align: left;

      h1 {
        margin-bottom: $size-100;
      }

      #form {
        .input-container {
          display: flex;
          align-items: center;
          background-color: $grey-50;
          border: none;
          margin-bottom: $size-400;
          padding: 6px 19px;
          border-radius: 5px;
          width: 100%;

          .icon-left {
            margin-right: 10px;
          }

          .value-right {
            border: none;
            background: transparent;
            outline: none;
            text-align: right;
            width: 100%;
            font-family: inherit;
            color: $green-900;
          }

          .value-right::placeholder {
            color: $grey-300;
          }
        }

        .button-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: $size-200;
          margin-bottom: $size-400;

          .tip-button {
            background-color: $green-900;
            border: none;
            border-radius: 5px;
            font-family: inherit;
            color: $white;
          }

          .default {
            background-color: $green-400;
            color: $green-900;
          }

          .tip-button-custom {
            background-color: $grey-50;
            color: $grey-550;
          }
        }

        h2 {
          margin-bottom: $size-100;
        }
      }
    }

    .total {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: $size-300;
      background-color: $green-900;
      border-radius: 15px;
      padding: 30px 23px;

      .tip-amount-container, .total-amount-container {
        text-align: left;
      }

      .tip-amount-value-container, .total-amount-value-container {
        justify-self: end;
      }

      #reset-button {
        grid-column: span 2;
        background-color: $green-400;
        color: $green-900;
        border: none;
        border-radius: 5px;
        font-family: inherit;
        height: $size-600;
      }
    }
  }
}